@use 'sass:math';

/**
  Uses the YIQ color contrast algorithm to determine whether a color is 
  light or dark, so that text can be displayed with the correct color.

  @param {Color} $color 
      The color to check
  @param {Number} $threshold 
      The threshold to determine whether a color is light or dark
  @param {Color} $light 
      The color to return if the color is light
  @param {Color} $dark 
      The color to return if the color is dark
 */
@function color-yiq(
  $color,
  $threshold: $contrast-threshold,
  $light-color: #ffffff,
  $dark: #000000
) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $y: math.div(($r * 299) + ($g * 587) + ($b * 114), 1000);

  @if ($y > $threshold) {
    @return $dark-color;
  }

  @return $light-color;
}

/**
  Verifies if $value is a list, returns a boolean.

  @param {List} $value
      The value to verify
 */
@function is-list($value) {
  @return type-of($value) == 'list';
}

/**
  Verifies if $value is a map, returns a boolean.

  @param {Map} $value
      The value to verify
 */
@function is-map($value) {
  @return type-of($value) == 'map';
}
