$rhythm: 16 !default;

$grid-columns: 12 !default;

$grid-column-gap: 2rem !default;

$font-family: Comfortaa, Inter, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', Helvetica,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;

$font-family-mono: 'Spline Sans Mono', Iosevka, 'JetBrains Mono', 'SF Mono',
  Menlo, Consolas, 'Lucida Console', 'Ubuntu Mono', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace !default;

$font-family-serif: 'New York', 'Lucida Bright', Lucidabright, 'Lucida Serif',
  Lucida, 'Roboto Slab', 'DejaVu Serif', 'Bitstream Vera Serif',
  'Liberation Serif', Georgia, 'Times New Roman', Times, serif !default;

$font-size-base: 100% !default;

$font-weights: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
) !default;

$line-height-base: 1.25 !default;
