@import 'normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #ce5b96;
  --color-primary-light: #{lighten(#ce5b96, 20)};
  --color-primary-dark: #{darken(#ce5b96, 20)};
  --color-primary-25: #ce5b9640;
  --color-primary-50: #ce5b9680;
  --color-primary-75: #ce5b96c0;

  --color-secondary: #389c9f;
  --color-secondary-light: #{lighten(#389c9f, 20)};
  --color-secondary-dark: #{darken(#389c9f, 20)};
  --color-secondary-25: #389c9f40;
  --color-secondary-50: #389c9f80;
  --color-secondary-75: #389c9fc0;

  --color-tertiary: #70cacd;
  --color-tertiary-light: #{lighten(#70cacd, 20)};
  --color-tertiary-dark: #{darken(#70cacd, 20)};
  --color-tertiary-25: #70cacd40;
  --color-tertiary-50: #70cacd80;
  --color-tertiary-75: #70cacdc0;

  --color-gray-strong: #1c1c1c;
  --color-gray-darkest: #21242b;
  --color-gray-darker: #47484b;
  --color-gray-dark: #57585b;
  --color-gray: #77787b;
  --color-gray-light: #a0a0a0;
  --color-gray-lighter: #c0c0c0;
  --color-gray-lightest: #d5d6dc;
  --color-gray-pastel: #eeeeee;
  --color-gray-25: #77787b40;
  --color-gray-50: #77787b80;
  --color-gray-75: #77787bc0;

  --color-valid: #8ae234;
  --color-valid-light: #{lighten(#8ae234, 20)};
  --color-valid-dark: #{darken(#8ae234, 20)};
  --color-valid-25: #8ae23440;
  --color-valid-50: #8ae23480;
  --color-valid-75: #8ae234c0;

  --color-invalid: #ef2929;
  --color-invalid-light: #{lighten(#ef2929, 20)};
  --color-invalid-dark: #{darken(#ef2929, 20)};
  --color-invalid-25: #ef292940;
  --color-invalid-50: #ef292980;
  --color-invalid-75: #ef2929c0;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1rem;

  @include last-child-margin-bottom(0);
}

.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.horizontal-quote {
  max-width: 100%;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  display: flex;
  font-size: 9px;
  justify-content: space-between;
  margin-top: 5px;

  .vertical-line {
    border-left: 2px solid #70cacd;
    height: 8px;
  }

  .horizontal-line {
    border-top: 2px solid #70cacd;
    height: 2px;
    width: 100%;
  }

  .text-quote {
    padding: 0px 5px;
    margin-top: -5px;
  }
}
.vertical-quote {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -12px;
  bottom: 0;
  font-size: 9px !important;
  justify-content: space-between;

  .vertical-line {
    border-left: 2px solid #70cacd;
    width: 2px;
    height: 100%;
    margin-left: 0px;
  }

  .horizontal-line {
    width: 8px;
    border-top: 2px solid #70cacd;
  }

  .text-quote {
    padding: 0px;
    margin-left: -20px;
  }
}

.display_flex {
  display: flex !important;
}
.position_initial {
  position: initial !important
}

.tag-item {
  width: max-content;
  position: relative;
  line-height: normal;
}

.tag-dimensions {
  @media (max-width: 960px) {
    display: none;
  }
}

.background_transparent {
  background-color: transparent !important;
}

.align-self-center {
  align-self: center;
}

.no-scale {
  .tag-item {
    scale: 1 !important;
    transform-origin: center !important;
    margin-left: 0 !important;
    height: auto !important;
  }
}

.selected-page {
  &.is-active {
    background: #bd397d;
  }
}

.no-show {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.print-screen-preview {
  display: block !important;
  .tags__preview__area {
    display: block !important;
    max-width: min-content !important;
  }
}